node_modules
**/node_modules
.env
**/.env
coverage
**/coverage
coverage.json
**/coverage.json
typechain
**/typechain
typechain-types
**/typechain-types

# Hardhat files
cache
**/cache
artifacts
**/artifacts

